.carousel{
  background-color: black;
}
.nav-title,h2{
  color: #c9e265
}
nav{
  background-image: url("fond.jpg");
  background-size: cover;
}
h1{
  font-size: 2rem;
}
h5{
  color: #c9e265;
  text-transform: uppercase;
  font-weight: 500;
}

.bcolorv{
  background-color: #c9e265;
  color: black;
}
.bcolord{
  background: radial-gradient( gold, black);
  color: black;
}

footer{
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(45deg, black, #c9e265,black);
  color: white;
  text-align: center;
  bottom: 0;
  font-weight: bold;
}

video{
  width: 100%;
}